Repository ShaneMaglangit/foreclosedhub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_server, deploy_web

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

include:
  - component: gitlab.com/components/opentofu/validate-plan@2.0.0-rc1
    inputs:
      version: 2.0.0-rc1
      opentofu_version: 1.9.0
      root_dir: opentofu
  - component: gitlab.com/components/opentofu/job-templates@2.0.0-rc1
    inputs:
      version: 2.0.0-rc1
      opentofu_version: 1.9.0
      root_dir: opentofu

stages:
  - validate
  - build
  - plan
  - apply
  - deploy

compile_server:
  stage: build
  image: golang:1.24
  variables:
    CGO_ENABLED: "1"
    GOOS: linux
    GOARCH: amd64
  cache:
    key: go-mod-cache
    paths:
      - go/pkg/mod
  before_script:
    - apt-get update
    - apt-get install -y pkg-config libgeos-dev
    - go clean -modcache
  script:
    - cd server
    - go mod tidy
    - go build -o ../app ./cmd/main.go
  artifacts:
    name: "go-server-$CI_COMMIT_SHORT_SHA"
    paths:
      - app
    expire_in: 1 hour

apply:
  extends: [ .opentofu:apply ]
  after_script:
    - echo "EC2_INSTANCE_ID=$(gitlab-tofu output -raw server_id)" >> apply.env
    - echo "EC2_PUBLIC_IP=$(gitlab-tofu output -raw server_public_ip)" >> apply.env
    - echo "DATABASE_URL=$(gitlab-tofu output -raw database_url)" >> apply.env
    - echo "CLOUDFLARE_ACCOUNT_ID=$(gitlab-tofu output -raw cloudflare_account_id)" >> apply.env
    - echo "CLOUDFLARE_R2_ACCESS_KEY_ID=$(gitlab-tofu output -raw cloudflare_r2_access_key_id)" >> apply.env
    - echo "CLOUDFLARE_R2_ACCESS_SECRET_KEY=$(gitlab-tofu output -raw cloudflare_r2_access_secret_key)" >> apply.env
    - echo "CLOUDFLARE_BUCKET=$(gitlab-tofu output -raw cloudflare_bucket)" >> apply.env
  artifacts:
    reports:
      dotenv: apply.env
  rules:
    - when: on_success

deploy_server:
  stage: deploy
  image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
  needs:
    - job: apply
      artifacts: true
    - job: compile_server
  rules:
    - changes:
        - server/**/*
      when: on_success
    - when: manual
      allow_failure: true
  script:
    - apt-get update && apt-get install -y openssh-client
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no ec2-user@$EC2_PUBLIC_IP "sudo systemctl stop foreclosedhub.service || true"
    - scp -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no app ec2-user@$EC2_PUBLIC_IP:/home/ec2-user/
    - scp -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no apply.env ec2-user@$EC2_PUBLIC_IP:/home/ec2-user/
    - |
      ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no ec2-user@$EC2_PUBLIC_IP <<-'EOF'
      echo '[Unit]
      Description=Go Server for ForeclosedHub
      After=network.target

      [Service]
      ExecStart=/home/ec2-user/app
      Restart=always
      User=ec2-user
      Group=ec2-user
      Environment=PATH=/usr/bin:/usr/local/bin
      Environment=GO_ENV=production
      EnvironmentFile=/home/ec2-user/apply.env
      WorkingDirectory=/home/ec2-user

      [Install]
      WantedBy=multi-user.target' | sudo tee /etc/systemd/system/foreclosedhub.service > /dev/null

      sudo systemctl daemon-reload
      sudo systemctl enable foreclosedhub.service
      sudo systemctl restart foreclosedhub.service
      EOF

deploy_web:
  stage: deploy
  image: node:23.10.0
  needs: [ apply ]
  rules:
    - changes:
       - web/**/*
      when: on_success
    - when: manual
      allow_failure: true
  script:
    - cd web
    - npm install --global vercel
    - vercel link --yes --project foreclosedhub --token=$TF_VAR_vercel_token
    - vercel pull --yes --environment=production --token=$TF_VAR_vercel_token
    - vercel build --prod --token=$TF_VAR_vercel_token
    - vercel deploy --prebuilt --prod --token=$TF_VAR_vercel_token

Add offer buttons
  web/src/app/map.tsx
  web/src/components/ui/button.tsx
  web/src/lib/graphql/generated/gql.ts
  web/src/lib/graphql/generated/graphql.ts
  web/src/lib/graphql/getListings.ts
Due: deploy_web

Make jitter more deterministic
  server/internal/graph/jitter.go
Due: deploy_server

Forgot
  web/src/app/map.tsx
Due: deploy_web

Tweak jitter amount
  server/internal/graph/jitter.go
Due: deploy_server

Add source badge
  web/src/app/map.tsx
Due: deploy_web

Fix lot area insert
  server/internal/db/listings.go
  server/internal/source/secbank/listing.go
  web/src/app/globals.css
  web/src/components/ui/carousel.tsx
Due: deploy_server, deploy_web

Disable map icon clicks
  web/src/app/map.tsx
Due: deploy_web

Add chevron icon to occupancy status filter
  web/package.json
  web/src/app/globals.css
  web/src/app/map.tsx
  web/src/components/ui/checkbox.tsx
  web/src/components/ui/dropdown-menu.tsx
  web/yarn.lock
Due: deploy_web

Add occupancy status filter on gql
  web/src/app/map.tsx
  web/src/lib/graphql/generated/gql.ts
  web/src/lib/graphql/generated/graphql.ts
  web/src/lib/graphql/getListings.ts
Due: deploy_web

Update listing max info text
  server/internal/graph/generated.go
  server/internal/graph/schema.graphqls
  server/internal/graph/schema.resolvers.go
  web/src/app/map.tsx
Due: deploy_server, deploy_web

Add unionbank listings
  server/internal/cron/cron.go
  server/internal/db/listings.sql.go
  server/internal/db/migrations/000032_add_unionbank_in_source_enum.down.sql
  server/internal/db/migrations/000032_add_unionbank_in_source_enum.up.sql
  server/internal/db/models.go
  server/internal/graph/schema.graphqls
  server/internal/graph/schema.resolvers.go
  server/internal/service/listing_image.go
  server/internal/source/pagibig/listing.go
  server/internal/source/unionbank/constants.go
  server/internal/source/unionbank/listing.go
  server/internal/source/unionbank/listing_image.go
  server/internal/source/unionbank/scrape_images.go
  server/internal/source/unionbank/scrape_listing.go
Due: deploy_server

Fix migrate pipeline
  .gitlab-ci.yml
  web/src/app/map.tsx
  web/src/lib/graphql/generated/graphql.ts
Due: deploy_web

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Add retry on unionbank scraper
  server/cmd/main.go
  server/internal/source/unionbank/listing.go
Due: deploy_server

Fix whoopsie
  server/cmd/main.go
Due: deploy_server

Increase retries
  server/internal/source/unionbank/listing.go
Due: deploy_server

Emulate browser request for unionbank scraper
  server/cmd/main.go
  server/internal/source/unionbank/listing.go
Due: deploy_server

Emulate browser request for unionbank scraper
  server/internal/source/unionbank/listing.go
  server/internal/source/unionbank/listing_image.go
Due: deploy_server

Revert main.go
  server/cmd/main.go
Due: deploy_server

Add unionbank link button
  server/internal/graph/schema.resolvers.go
Due: deploy_server

Add unionbank link button
  web/next.config.ts
  web/src/app/map.tsx
Due: deploy_web

Something responsive thing
  web/src/app/map.tsx
Due: deploy_web

Make the filter work on mobile or something
  web/package.json
  web/src/app/map.tsx
  web/src/components/ui/sheet.tsx
  web/yarn.lock
Due: deploy_web

Fix whoopsie
  server/internal/graph/schema.resolvers.go
Due: deploy_server

Remove cron instance count func
  server/internal/cron/cron.go
  server/internal/geocode/job.go
  server/internal/source/pagibig/scrape_image.go
  server/internal/source/pagibig/scrape_listing.go
  server/internal/source/secbank/scrape_image.go
  server/internal/source/secbank/scrape_listing.go
  server/internal/source/unionbank/scrape_images.go
  server/internal/source/unionbank/scrape_listing.go
Due: deploy_server

Bunch of refactors
  server/internal/db/tracer.go
  server/internal/geocode/job.go
  server/internal/graph/jitter.go
  server/internal/graph/resolver.go
  server/internal/graph/server.go
  server/internal/loader/loader.go
  server/internal/source/pagibig/scrape_image.go
  server/internal/source/secbank/scrape_image.go
  server/internal/source/unionbank/constants.go
  server/internal/source/unionbank/scrape_images.go
  web/package.json
  web/src/app/globals.css
  web/src/app/map.tsx
  web/src/app/page.tsx
  web/src/components/ui/button.tsx
  web/src/components/ui/carousel.tsx
  web/src/components/ui/dropdown-menu.tsx
  web/src/components/ui/input.tsx
  web/src/components/ui/separator.tsx
  web/src/components/ui/sidebar.tsx
  web/src/components/ui/skeleton.tsx
  web/src/components/ui/tooltip.tsx
  web/yarn.lock
Due: deploy_server, deploy_web

Refresh geocoding every 30 days
  server/internal/db/listings.sql
  server/internal/db/listings.sql.go
Due: deploy_server

Update fonts
  web/src/app/globals.css
  web/src/app/layout.tsx
Due: deploy_web

Styling changes
  web/src/app/map.tsx
  web/src/components/ui/button.tsx
  web/src/components/ui/carousel.tsx
  web/src/components/ui/dropdown-menu.tsx
Due: deploy_web

Add app metadata
  web/src/app/layout.tsx
  web/src/app/sitemap.ts
Due: deploy_web

Add mailing list link
  web/public/file.svg
  web/public/globe.svg
  web/public/next.svg
  web/public/vercel.svg
  web/public/window.svg
  web/src/app/layout.tsx
  web/src/app/map.tsx
Due: deploy_web

Dudum
  opentofu/main.tf
Due: none

Restore deploy_web job
  .gitlab-ci.yml
Due: none

Fix DNS properties
  opentofu/main.tf
Due: none

Fix tofu fmt
  opentofu/main.tf
Due: none

Fix EC2 port
  .gitlab-ci.yml
  opentofu/main.tf
Due: none

Format tofu
  opentofu/main.tf
Due: none
