Repository ShaneMaglangit/foreclosedhub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_server, deploy_web

deploy_server:
  stage: deploy
  image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
  needs:
  - job: apply
    artifacts: true
  - job: compile_server
  script:
  - apt-get update && apt-get install -y openssh-client
  - mkdir -p ~/.ssh
  - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  ...

deploy_web:
  stage: deploy
  image: node:23.10.0
  needs:
  - apply
  script:
  - cd web
  - npm install --global vercel
  - vercel link --yes --project foreclosedhub --token=$TF_VAR_vercel_token
  - vercel pull --yes --environment=production --token=$TF_VAR_vercel_token
  - vercel build --prod --token=$TF_VAR_vercel_token
  ...

Down AWS resources
  opentofu/main.tf
Due: none

Revert "Down AWS resources"
  opentofu/main.tf
Due: none

Fix database URL
  opentofu/main.tf
Due: none

Refactor listing queries
  server/internal/db/listing_images.sql
  server/internal/db/listings.go
  server/internal/db/listings.sql
  server/internal/db/listings.sql.go
  server/sqlc.yml
Due: deploy_server

Set fixed limit for GetListingCoordinates query
  server/internal/db/listings.sql
  server/internal/db/listings.sql.go
Due: deploy_server

Add GetListing query
  server/internal/db/listings.go
  server/internal/db/listings.sql
  server/internal/db/listings.sql.go
Due: deploy_server

Add GetListing service
  proto/hello.proto
  server/internal/proto/hello.pb.go
  server/internal/proto/hello_grpc.pb.go
  web/src/lib/proto/hello.ts
  web/src/lib/proto/hello_grpc_pb.js
Due: deploy_server, deploy_web

Add listing service grpc server
  proto/hello.proto
  server/internal/grpc/grpc.go
  server/internal/grpc/listing.go
  server/internal/proto/hello.pb.go
  web/src/lib/proto/hello.ts
Due: deploy_server, deploy_web

Hide non-geocoded listings
  server/internal/db/listings.sql
  server/internal/db/listings.sql.go
Due: deploy_server

Add map component
  web/package.json
  web/src/app/map.tsx
  web/src/env.ts
  web/yarn.lock
Due: deploy_web

Initialize listing service client on web
  web/src/app/page.tsx
  web/src/lib/grpc/client.ts
Due: deploy_web

Render map
  web/src/app/page.tsx
Due: deploy_web

Add google maps API key
  .gitlab-ci.yml
  opentofu/main.tf
  opentofu/variables.tf
Due: none

Fix typo
  opentofu/main.tf
Due: none

Make vercel maps api key public
  opentofu/main.tf
Due: none

Remove hello service
  proto/listing.proto
  proto/proto.iml
  scripts/generate-pb.sh
  server/internal/grpc/grpc.go
  server/internal/grpc/hello.go
  server/internal/proto/hello.pb.go
  server/internal/proto/listing.pb.go
  server/internal/proto/listing_grpc.pb.go
  web/src/lib/grpc/client.ts
  web/src/lib/proto/hello_grpc_pb.js
  web/src/lib/proto/listing.ts
  web/src/lib/proto/listing_grpc_pb.js
Due: deploy_server, deploy_web

Add listing marker service
  proto/listing.proto
  server/internal/grpc/listing.go
  server/internal/proto/listing.pb.go
  server/internal/proto/listing_grpc.pb.go
  web/src/app/map.tsx
  web/src/lib/proto/listing.ts
  web/src/lib/proto/listing_grpc_pb.js
Due: deploy_server, deploy_web

Add markers
  proto/proto.iml
  scripts/generate-pb.sh
  server/internal/db/listings.sql
  server/internal/db/listings.sql.go
  server/internal/grpc/listing.go
  web/package.json
  web/src/app/map.tsx
  web/src/app/page.tsx
  web/src/lib/grpc/client.ts
  web/yarn.lock
Due: deploy_server, deploy_web

Update filter index
  server/internal/db/migrations/000028_drop_idx_listings_on_source_occupancy_status_status_id_price.down.sql
  server/internal/db/migrations/000028_drop_idx_listings_on_source_occupancy_status_status_id_price.up.sql
  server/internal/db/migrations/000029_add_idx_listings_on_source_occupancy_status_status_id_price.down.sql
  server/internal/db/migrations/000029_add_idx_listings_on_source_occupancy_status_status_id_price.up.sql
Due: deploy_server

Add runtime type validation on grpc client
  web/src/app/map.tsx
  web/src/app/page.tsx
  web/src/lib/grpc/client.ts
  web/src/lib/grpc/getListing.ts
  web/src/lib/grpc/getListingMarkers.ts
Due: deploy_web

Add initial marker click handler
  web/package.json
  web/src/app/map.tsx
  web/src/app/page.tsx
  web/src/app/preview.tsx
  web/src/lib/grpc/getListing.ts
  web/src/lib/utils/cn.ts
  web/yarn.lock
Due: deploy_web

Add initial marker info windows
  proto/listing.proto
  server/internal/db/listings.go
  server/internal/db/listings.sql
  server/internal/db/listings.sql.go
  server/internal/grpc/listing.go
  server/internal/proto/listing.pb.go
  server/internal/proto/listing_grpc.pb.go
  web/src/app/globals.css
  web/src/app/map.tsx
  web/src/app/page.tsx
  web/src/app/preview.tsx
  web/src/lib/grpc/getListing.ts
  web/src/lib/grpc/getListingMarkers.ts
  web/src/lib/grpc/getListingsInBoundary.ts
  web/src/lib/grpc/shared.ts
  web/src/lib/proto/listing.ts
  web/src/lib/proto/listing_grpc_pb.js
  web/src/lib/utils.ts
  web/src/lib/utils/cn.ts
Due: deploy_server, deploy_web

Enable ipv6 on ec2 instance
  opentofu/main.tf
Due: none

Update database URL
  opentofu/main.tf
Due: none

Fix security group dependency violation
  opentofu/main.tf
Due: none

Enable ipv6
  opentofu/main.tf
Due: none

Fix connection pooling on grpc service
  server/internal/grpc/grpc.go
  server/internal/grpc/listing.go
Due: deploy_server

Reuse single pgpool across app
  server/cmd/main.go
  server/internal/cron/cron.go
  server/internal/geocode/job.go
  server/internal/grpc/grpc.go
  server/internal/source/pagibig/job.go
  server/internal/source/secbank/job.go
Due: deploy_server

Update common listing filter index
  server/internal/db/migrations/000030_add_idx_listings_on_source_occupancy_status_id_price_where_active_geocoded.down.sql
  server/internal/db/migrations/000030_add_idx_listings_on_source_occupancy_status_id_price_where_active_geocoded.up.sql
  server/internal/db/migrations/000031_drop_idx_listings_on_source_occupancy_status_status_id_price.down.sql
  server/internal/db/migrations/000031_drop_idx_listings_on_source_occupancy_status_status_id_price.up.sql
Due: deploy_server

Fix incomplete commit
  server/internal/cron/cron.go
Due: deploy_server

Fix incorrect merge
  server/internal/cron/cron.go
Due: deploy_server

Use camel case for protobuf field names
  proto/listing.proto
  server/internal/proto/listing.pb.go
  web/package.json
  web/src/app/map.tsx
  web/src/lib/proto/listing.ts
  web/src/lib/utils/utils.ts
  web/yarn.lock
Due: deploy_server, deploy_web

Optimize coordinates jittering
  server/internal/grpc/listing.go
Due: deploy_server

Include image url on the listing service
  server/internal/grpc/grpc.go
  server/internal/grpc/listing.go
  server/internal/service/listing.go
  web/src/lib/grpc/shared.ts
Due: deploy_server, deploy_web

Add initial info window image
  web/next.config.ts
  web/src/app/map.tsx
Due: deploy_web

Rename db.Connect to db.NewPool
  server/cmd/main.go
  server/internal/service/listing_image.go
Due: deploy_server

Path conditions:
  deploy_server: any of: server/**/*
  deploy_web: any of: web/**/*
