Repository ShaneMaglangit/foreclosedhub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_server, deploy_web

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

include:
  - component: gitlab.com/components/opentofu/validate-plan@2.0.0-rc1
    inputs:
      version: 2.0.0-rc1
      opentofu_version: 1.9.0
      root_dir: opentofu
  - component: gitlab.com/components/opentofu/job-templates@2.0.0-rc1
    inputs:
      version: 2.0.0-rc1
      opentofu_version: 1.9.0
      root_dir: opentofu

stages:
  - validate
  - build
  - plan
  - apply
  - deploy

compile_server:
  stage: build
  image: golang:1.24
  variables:
    CGO_ENABLED: "1"
    GOOS: linux
    GOARCH: amd64
  cache:
    key: go-mod-cache
    paths:
      - go/pkg/mod
  before_script:
    - apt-get update
    - apt-get install -y pkg-config libgeos-dev
    - go clean -modcache
  script:
    - cd server
    - go mod tidy
    - go build -o ../app ./cmd/main.go
  artifacts:
    name: "go-server-$CI_COMMIT_SHORT_SHA"
    paths:
      - app
    expire_in: 1 hour

apply:
  extends: [ .opentofu:apply ]
  after_script:
    - echo "EC2_INSTANCE_ID=$(gitlab-tofu output -raw server_id)" >> apply.env
    - echo "EC2_PUBLIC_IP=$(gitlab-tofu output -raw server_public_ip)" >> apply.env
    - echo "DATABASE_URL=$(gitlab-tofu output -raw database_url)" >> apply.env
    - echo "CLOUDFLARE_ACCOUNT_ID=$(gitlab-tofu output -raw cloudflare_account_id)" >> apply.env
    - echo "CLOUDFLARE_R2_ACCESS_KEY_ID=$(gitlab-tofu output -raw cloudflare_r2_access_key_id)" >> apply.env
    - echo "CLOUDFLARE_R2_ACCESS_SECRET_KEY=$(gitlab-tofu output -raw cloudflare_r2_access_secret_key)" >> apply.env
    - echo "CLOUDFLARE_BUCKET=$(gitlab-tofu output -raw cloudflare_bucket)" >> apply.env
  artifacts:
    reports:
      dotenv: apply.env
  rules:
    - when: on_success

deploy_server:
  stage: deploy
  image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
  needs:
    - job: apply
      artifacts: true
    - job: compile_server
  rules:
    - changes:
        - server/**/*
      when: on_success
    - when: manual
      allow_failure: true
  script:
    - apt-get update && apt-get install -y openssh-client
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no ec2-user@$EC2_PUBLIC_IP "sudo systemctl stop foreclosedhub.service || true"
    - scp -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no app ec2-user@$EC2_PUBLIC_IP:/home/ec2-user/
    - scp -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no apply.env ec2-user@$EC2_PUBLIC_IP:/home/ec2-user/
    - |
      ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no ec2-user@$EC2_PUBLIC_IP <<-'EOF'
      echo '[Unit]
      Description=Go Server for ForeclosedHub
      After=network.target

      [Service]
      ExecStart=/home/ec2-user/app
      Restart=always
      User=ec2-user
      Group=ec2-user
      Environment=PATH=/usr/bin:/usr/local/bin
      Environment=GO_ENV=production
      EnvironmentFile=/home/ec2-user/apply.env
      WorkingDirectory=/home/ec2-user

      [Install]
      WantedBy=multi-user.target' | sudo tee /etc/systemd/system/foreclosedhub.service > /dev/null

      sudo systemctl daemon-reload
      sudo systemctl enable foreclosedhub.service
      sudo systemctl restart foreclosedhub.service
      EOF

deploy_web:
  stage: deploy
  image: node:23.10.0
  needs: [ apply ]
  rules:
    - changes:
       - web/**/*
      when: on_success
    - when: manual
      allow_failure: true
  script:
    - cd web
    - npm install --global vercel
    - vercel link --yes --project foreclosedhub --token=$TF_VAR_vercel_token
    - vercel pull --yes --environment=production --token=$TF_VAR_vercel_token
    - vercel build --prod --token=$TF_VAR_vercel_token
    - vercel deploy --prebuilt --prod --token=$TF_VAR_vercel_token

Rename r2 storage struct
  server/internal/service/image_blob_upload.go
  server/internal/service/image_url_upload.go
  server/internal/storage/r2.go
Due: deploy_server

Cleanup
  server/cmd/main.go
  server/internal/cron/cron.go
  server/internal/db/listing_images.go
  server/internal/db/listings.go
  server/internal/db/listings.sql
  server/internal/db/pool.go
  server/internal/geocode/geocode.go
  server/internal/geocode/job.go
  server/internal/source/pagibig/job.go
  server/internal/source/pagibig/scrape_image.go
  server/internal/source/pagibig/scrape_listing.go
  server/internal/source/secbank/scrape_image.go
  server/internal/source/secbank/scrape_listing.go
Due: deploy_server

Add graphql API
  server/cmd/main.go
  server/go.mod
  server/go.sum
  server/gqlgen.yml
  server/internal/graph/generated.go
  server/internal/graph/model/models_gen.go
  server/internal/graph/resolver.go
  server/internal/graph/schema.graphqls
  server/internal/graph/schema.resolvers.go
  server/internal/graph/server.go
  server/internal/tools/tools.go
Due: deploy_server

Add dataloader
  server/go.mod
  server/go.sum
  server/internal/db/pool.go
  server/internal/db/tracer.go
  server/internal/graph/schema.resolvers.go
  server/internal/graph/server.go
  server/internal/loader/loader.go
Due: deploy_server

Extract jitter utility to its own file
  server/go.mod
  server/internal/graph/jitter.go
  server/internal/graph/schema.resolvers.go
Due: deploy_server

Expose EC2 8080 port
  opentofu/main.tf
Due: none

Load listings using GraphQL API
  server/go.mod
  server/go.sum
  server/gqlgen.yml
  server/internal/db/pool.go
  server/internal/graph/generated.go
  server/internal/graph/model/models_gen.go
  server/internal/graph/schema.graphqls
  server/internal/graph/schema.resolvers.go
  server/internal/graph/server.go
  web/codegen.ts
  web/package.json
  web/schema.graphql
  web/src/app/map.tsx
  web/src/app/page.tsx
  web/src/app/queryProvider.tsx
  web/src/env.ts
  web/src/lib/graphql/execute.ts
  web/src/lib/graphql/generated/fragment-masking.ts
  web/src/lib/graphql/generated/gql.ts
  web/src/lib/graphql/generated/graphql.ts
  web/src/lib/graphql/generated/index.ts
  web/src/lib/graphql/getListings.ts
  web/src/lib/grpc/client.ts
  web/src/lib/grpc/shared.ts
  web/tsconfig.json
  web/yarn.lock
Due: deploy_server, deploy_web

Remove GRPC client
  web/package.json
  web/src/app/page.tsx
  web/src/env.ts
  web/src/lib/grpc/client.ts
  web/src/lib/grpc/getListing.ts
  web/src/lib/grpc/getListingsInBoundary.ts
  web/src/lib/grpc/shared.ts
  web/src/lib/proto/listing.ts
  web/src/lib/proto/listing_grpc_pb.js
Due: deploy_web

Unexpose GRPC port
  opentofu/main.tf
Due: none

Remove GRPC server
  server/cmd/main.go
  server/internal/grpc/grpc.go
  server/internal/grpc/listing.go
  server/internal/proto/listing.pb.go
  server/internal/proto/listing_grpc.pb.go
Due: deploy_server

Remove protobuf
  proto/listing.proto
  proto/proto.iml
  scripts/generate-pb.sh
  scripts/scripts.iml
Due: none

Cleanup go modules
  server/go.mod
  server/go.sum
Due: deploy_server

Remove listing service
  server/internal/service/listing.go
Due: deploy_server

Set graphql uri environemnt variable on vercel
  opentofu/main.tf
Due: none

Fix tofu
  opentofu/main.tf
Due: none

Fix typing
  web/src/app/map.tsx
  web/src/lib/graphql/execute.ts
Due: deploy_web

Wrap map in suspense boundary
  web/src/app/page.tsx
Due: deploy_web

Fix vercel graphql uri
  opentofu/main.tf
Due: none

Drop vercel project and deployment
  .gitlab-ci.yml
  opentofu/main.tf
Due: none

Add custom markers
  web/src/app/map.tsx
  web/yarn.lock
Due: deploy_web

Stylize info window
  web/src/app/globals.css
  web/src/app/map.tsx
Due: deploy_web

Initialize carousel
  web/components.json
  web/package.json
  web/src/app/globals.css
  web/src/app/map.tsx
  web/src/components/ui/button.tsx
  web/src/components/ui/carousel.tsx
  web/src/lib/utils.ts
  web/yarn.lock
Due: deploy_web

Reduce image scraper instance
  server/internal/source/pagibig/scrape_image.go
  server/internal/source/secbank/scrape_image.go
Due: deploy_server

Fix carousel
  web/src/app/map.tsx
  web/src/components/ui/carousel.tsx
Due: deploy_web

Fix info window sizing
  web/src/app/map.tsx
Due: deploy_web

Add address search bar
  server/internal/graph/generated.go
  server/internal/graph/schema.graphqls
  server/internal/graph/schema.resolvers.go
  web/src/app/map.tsx
  web/src/components/ui/input.tsx
  web/src/lib/graphql/generated/gql.ts
  web/src/lib/graphql/generated/graphql.ts
  web/src/lib/graphql/getListings.ts
Due: deploy_server, deploy_web

Add address search bar
  server/internal/graph/schema.resolvers.go
  web/components.json
  web/src/app/map.tsx
  web/src/components/ui/button.tsx
  web/src/components/ui/carousel.tsx
  web/src/components/ui/input.tsx
  web/src/lib/utils.ts
  web/src/lib/utils/types.ts
Due: deploy_server, deploy_web

Set cursor to grab on carousell
  web/src/components/ui/carousel.tsx
Due: deploy_web

Add price filters
  server/internal/graph/generated.go
  server/internal/graph/schema.graphqls
  server/internal/graph/schema.resolvers.go
  web/src/app/map.tsx
  web/src/lib/graphql/generated/gql.ts
  web/src/lib/graphql/generated/graphql.ts
  web/src/lib/graphql/getListings.ts
Due: deploy_server, deploy_web

Rate limit API
  server/internal/graph/server.go
  web/src/app/map.tsx
Due: deploy_server, deploy_web

Add occupancy status field on listings
  server/go.mod
  server/gqlgen.yml
  server/internal/graph/generated.go
  server/internal/graph/model/models_gen.go
  server/internal/graph/schema.graphqls
  server/internal/graph/schema.resolvers.go
Due: deploy_server

Add occupancy status info on map
  web/src/app/map.tsx
  web/src/lib/graphql/generated/gql.ts
  web/src/lib/graphql/generated/graphql.ts
  web/src/lib/graphql/getListings.ts
Due: deploy_web

Update map styling
  web/src/app/map.tsx
Due: deploy_web

Update marker colors
  web/src/app/map.tsx
Due: deploy_web

Stylize inputs
  web/src/app/globals.css
  web/src/app/map.tsx
Due: deploy_web

Add info about number of results
  web/src/app/map.tsx
Due: deploy_web

Improve styling
  server/internal/graph/schema.resolvers.go
  web/src/app/map.tsx
Due: deploy_server, deploy_web

Add secbank button
  web/src/app/map.tsx
  web/src/lib/graphql/generated/gql.ts
  web/src/lib/graphql/generated/graphql.ts
  web/src/lib/graphql/getListings.ts
Due: deploy_web

Add offer buttons
  server/gqlgen.yml
  server/internal/graph/generated.go
  server/internal/graph/model/models_gen.go
  server/internal/graph/schema.graphqls
  server/internal/graph/schema.resolvers.go
Due: deploy_server
