Repository ShaneMaglangit/foreclosedhub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: migrate, deploy_server

Path conditions:
  migrate: any of: .gitlab-ci.yml, server/internal/db/migrations/*
  deploy_server: any of: server/**/*, opentofu/**/*, .gitlab-ci.yml

Reduce pins to 500 per boundary
  server/internal/db/listings.sql
  server/internal/db/listings.sql.go
  web/src/app/map.tsx
Due: deploy_server

Disable watch drag
  web/src/app/map.tsx
Due: none

Add analytics
  web/package.json
  web/src/app/layout.tsx
  web/yarn.lock
Due: none

Limit pins to 100 on mobile
  server/internal/db/listings.sql
  server/internal/db/listings.sql.go
  server/internal/graph/generated.go
  server/internal/graph/schema.graphqls
  server/internal/graph/schema.resolvers.go
  web/package-lock.json
  web/package.json
  web/src/app/layout.tsx
  web/src/app/map.tsx
  web/src/lib/graphql/generated/gql.ts
  web/src/lib/graphql/generated/graphql.ts
  web/src/lib/graphql/getListings.ts
  web/yarn.lock
Due: deploy_server

Performance optimization
  server/internal/db/listings.go
  server/internal/db/listings.sql
  server/internal/db/listings.sql.go
  server/internal/graph/schema.resolvers.go
  web/package.json
  web/src/app/layout.tsx
  web/src/app/map.tsx
  web/src/components/ui/sonner.tsx
  web/yarn.lock
Due: deploy_server

Undo the thing and just sort by ID
  server/internal/db/listings.go
  server/internal/db/listings.sql
  server/internal/db/listings.sql.go
Due: deploy_server

Something about performance with pins
  web/src/app/map.tsx
Due: none

Remove ordering lol
  server/internal/db/listings.sql
  server/internal/db/listings.sql.go
Due: deploy_server

Remove info window border
  web/src/app/map.tsx
Due: none

Make listing response deterministic
  server/internal/db/listings.sql
  server/internal/db/listings.sql.go
Due: deploy_server

Persist reference to selected listing
  web/src/app/map.tsx
Due: none

Improve pin sparsity
  server/internal/db/listings.go
  server/internal/db/listings.sql
  server/internal/db/listings.sql.go
  server/internal/graph/jitter.go
  server/internal/graph/schema.resolvers.go
Due: deploy_server

Precompute coordinate grid
  server/internal/db/listings.sql
  server/internal/db/listings.sql.go
  server/internal/db/migrations/000033_add_listings_coordinate_grid_column.down.sql
  server/internal/db/migrations/000033_add_listings_coordinate_grid_column.up.sql
  server/internal/db/migrations/000034_drop_idx_listings_on_source_occupancy_id_price_where_active_geocoded.down.sql
  server/internal/db/migrations/000034_drop_idx_listings_on_source_occupancy_id_price_where_active_geocoded.up.sql
  server/internal/db/migrations/000035_create_idx_listings_on_src_occ_grid_id_price_where_active_geocoded.down.sql
  server/internal/db/migrations/000035_create_idx_listings_on_src_occ_grid_id_price_where_active_geocoded.up.sql
  server/internal/db/models.go
Due: migrate, deploy_server

Add speed insights
  web/package.json
  web/src/app/layout.tsx
  web/yarn.lock
Due: none

Fix listinng queries to show multiple items per grid
  server/internal/db/listings.sql
  server/internal/db/listings.sql.go
Due: deploy_server

Increase coordinate grid size
  server/internal/db/migrations/000033_add_listings_coordinate_grid_column.up.sql
Due: migrate, deploy_server

Add favicon
  .gitlab-ci.yml
  web/src/app/android-chrome-192x192.png
  web/src/app/android-chrome-512x512.png
  web/src/app/apple-touch-icon.png
  web/src/app/favicon-16x16.png
  web/src/app/favicon-32x32.png
  web/src/app/favicon.ico
Due: migrate, deploy_server

Prioritize grid representatives
  server/internal/db/listings.sql
  server/internal/db/listings.sql.go
Due: deploy_server

Release EIP
  opentofu/main.tf
Due: deploy_server

Deal with unionbank IP banning
  server/internal/source/unionbank/listing.go
  server/internal/source/unionbank/scrape_images.go
  web/src/app/map.tsx
Due: deploy_server

Revert "Release EIP"
  opentofu/main.tf
Due: deploy_server

Fix public IP
  opentofu/main.tf
Due: deploy_server

Create README.md
  README.md
Due: none
